.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    background: hsla(0, 0%, 100%, 0.05);
    border-radius: 2.5rem;

    .les-medias {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1rem;

        .un-media {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.8rem;
                height: 2.8rem;
                background: hsla(0, 0%, 100%, 0.05);
                border-radius: 50rem;
                box-sizing: border-box;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: hsla(0, 0%, 100%, 1);

                    i {
                        color: #1e1e1e;
                    }
                }

                i {
                  font-size: 1.2rem;
                  color: white;
                  transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    .credit {
        font-size: 0.9rem;
        color: hsla(0, 0%, 100%, 0.7);
    }
}